* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
    font-family: 'Twinkle Star', cursive;
}

html {
    font-size: 62.5%;
}

body {}