$section-width:100%;
$orange-color:#f7b264;
$pink-color:rgb(255, 245, 246);
$white-color:white;
$gutter-horizontal:6rem;
$gutter-vertical:8rem;
$gutter-vertical-small:6rem;
$max-width:114rem;
$color-white:#fff;
$color-black:#000;
$color-gray-light-1:lightgray;
$color-gray-light-2:#eee;
$color-gray-dark-2:#999;